<div class="section" id="brotinho">
    <h2>pizzas brotinho</h2>
    <div class="produto brotinho">
        <img src="{{ url_for('static', filename='imagens/produtos/pizzas/calabresa.jpg') }}" alt="Meio Cento">
        <div class="dados-produto">
            <h3 class="nome-produto">Cento</h3>
            <p>R$ <span class="preco-produto">150.00</span></p>
        </div>
    </div>
    <div class="produto brotinho">
        <img src="{{ url_for('static', filename='imagens/produtos/pizzas/calabresa.jpg') }}" alt="Meio Cento">
        <div class="dados-produto">
            <h3 class="nome-produto">Meio Cento</h3>
            <p>R$ <span class="preco-produto">80.00</span></p>
        </div>
    </div>
</div>